html
	head
		title Me And Ts
	style(type="text/css").
		body {
			margin: 20px;
			padding: 20px;
			background: #F4F0EC;
			font-family: Helvetica, Arial;
		}
		h1 {
			font-size: 50px;
		}
	body
		h1 Welcome to Me &amp; T's API
