$icomoon-font-family: "sw-font" !default;
$icomoon-font-path: "fonts" !default;

$sw-angle_up: "\e900";
$sw-arrow: "\e901";
$sw-binance: "\e902";
$sw-binanceus: "\e903";
$sw-bitfinex: "\e904";
$sw-bitstamp: "\e905";
$sw-bittrex: "\e906";
$sw-carrot_down: "\e907";
$sw-carrot_left: "\e908";
$sw-carrot_right: "\e909";
$sw-carrot_up: "\e90a";
$sw-check: "\e90b";
$sw-cog: "\e90c";
$sw-coinbasepro: "\e90d";
$sw-coins: "\e90e";
$sw-copy: "\e90f";
$sw-cross: "\e910";
$sw-dot_empty: "\e911";
$sw-dot: "\e912";
$sw-down-path1: "\e913";
$sw-down-path2: "\e914";
$sw-fastforward: "\e915";
$sw-gemini: "\e916";
$sw-hashtag_merge: "\e917";
$sw-hashtag: "\e918";
$sw-history: "\e919";
$sw-kraken: "\e91a";
$sw-kucoin: "\e91b";
$sw-list: "\e91c";
$sw-lock: "\e91d";
$sw-magnifier: "\e91e";
$sw-market: "\e91f";
$sw-merge: "\e920";
$sw-new_order: "\e921";
$sw-order: "\e922";
$sw-pause: "\e923";
$sw-paw: "\e924";
$sw-pen: "\e925";
$sw-piggy: "\e926";
$sw-pin: "\e927";
$sw-play: "\e928";
$sw-plus: "\e929";
$sw-poloniex: "\e92a";
$sw-profile: "\e92b";
$sw-refresh: "\e92c";
$sw-session: "\e92d";
$sw-share_android: "\e92e";
$sw-share_ios: "\e92f";
$sw-sharp: "\e930";
$sw-spinner: "\e931";
$sw-star_full: "\e932";
$sw-star: "\e933";
$sw-stop: "\e934";
$sw-thumbsup_full: "\e935";
$sw-thumbsup: "\e936";
$sw-trash: "\e937";
$sw-up-path1: "\e938";
$sw-up-path2: "\e939";
$sw-wallet: "\e93a";
$sw-x: "\e93b";
$sw-xbtce: "\e93c";
$sw-yobit: "\e93d";

